/* You can add global styles to this file, and also import other style files */
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css";
body {
  background-color: #1B1E27;
  min-height: 100vh;
}
app-repository + .search-hint {
  display: none;
}

.loader:after {
  content: '';
  position: fixed;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  top:50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader {
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,.1);

}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.dropdown-item {
  font-size: 18px;
}
.dropdown-menu {
  border-radius: 5px;
  max-width: 100%;
  max-height: 350px;
  overflow-y: auto;
}
.ngx-charts text {
  fill: #a8b2c7;
  font-size: 13px;
}
.ngx-charts-outer {
  margin-left: auto;
  margin-right: auto;
}

